body {
    background-image: url('./img/low_contrast_linen.png');
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size:12px;
    color: #333;
    position: relative;
}

header {
    width: 100%;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
}

footer {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

a {
    color: #169691;
    text-decoration: none;
    font-weight: bold;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Removes the dark touch outlines on links */
}

h1 {
    font-size:18px;
}

h2 {
    font-size:15px;
}

h3 {
    font-size:13px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width: 100%;
}

li {
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

#logo {
    background-image: url('./img/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    cursor: pointer;
    display: block;
}



#content {
    min-height: 200px;
    width: 100%;
    height: 100%;
}


.googlePlay{
     background:url(./img/googlePlay.png) no-repeat;
     cursor:pointer;
     border:none;
     width:200px;
     height:60px;
     margin: 10px;
 }

.appStore{
    background:url(./img/appStore.png) no-repeat;
    cursor:pointer;
    border:none;
    width:200px;
    height:60px;
    margin: 10px;
}


#mapView {
    min-height: 350px;
    width:100%;
    height:100%;
}

#mapViewWrapper {
    min-height: 350px;
    margin: 10px;
    border: 6px solid #dfe9ec;
    border-radius: 5px;
}

.bookPopUp {
    min-width: 200px;
}

/*overwrite google styles gm-styles*/
.bookPopUp p, .bookPopUp a{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 11px;
}

.bookPopUp img {
    float: left;
    margin-right:5px;
    width: 50px;
    height: 75px
}

.bookPopUp li {
    overflow: auto;
    border-bottom: 1px solid #9d9e9e;
}

.mapGroupBooks {
    width: 140px;
    height: 60px;
}

.mapGroupBooks img {
    float: left;
    margin-right:5px;
    width: 40px;
    height: 60px;
}


.mapGroupBooksMore{
    position:absolute;
    bottom: 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}