<header>
    <a id="logo" alt="BookCrossingApp WebSite" a href="#"></a>
</header>
<div id="content">
    <ng-include src="subPage"></ng-include>
</div>
<footer>
    <p><a target="_blank" href="http://www.bookcrossingapp.com/BookCrossingApp_Labels.pdf" alt="Download from AppleStore">Download BookCrossingApp labels</a></p>
    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.treeangular.BookCrossingApp" alt="Download from GooglePlay">
        <input class="googlePlay" />
    </a>
    <a target="_blank" href="https://itunes.apple.com/us/app/bookcrossing/id737519978" alt="Download from AppleStore">
        <input class="appStore" />
    </a>
    <p>BookCrossingApp.com @ 2013</p>
</footer>
