<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body style="background-image: url('img/low_contrast_linen.png');
  background-repeat:repeat; text-align: center;
    clear: both; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;">

<img style="margin-top: 50px;" src="img/logo.png">
<h2 style="color: #169691;margin-top: 50px;">Coming soon in your phone!<h2/>

</body>
</html>
